*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background-image: linear-gradient(#D8C7FF, #19006C);
  font-family: 'poppins';
}
h2.container {
  text-align: center;
  font-size: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 640px;
  margin: auto;
  margin-top: 28px;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
  background: white;

}
h2 {
  font-size: 23px;
}
.container ul li {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
}
.container button{
 
  width: 250px;
  height: 46px;
  background: #553f9a;
  color: #fff;
  font-size: 25px;
  border-radius: 8px;
  cursor: pointer;
}
.index {
  margin: auto;
  font-size: 26px;
}
.correct{
  background: #dffff2;
  border-color: #00d397;
}
.wrong{
  background: #FFEBEB;
  border-color: #FF4A4A;
}
h2.box {
  text-align: center;
  margin-top: 35px;
  font-size: xxx-large;
}
button {

  width: 250px;
  height: 46px;
  background: #553f9a;
  color: #fff;
  font-size: 25px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 146vh;
  margin-left: 190px;
}